{% load custom_filters %}

<div class="grid gap-4 px-1 my-2 mb-3 max-h-md overflow-y-auto md:overflow-x-hidden shadow-sm">
  {% if key != 'dashboard' %}
    {% if subkey == 'editing' %}
      <div>
        <h1 class="text-lg font-bold">Horario adaptado al personal</h1>
        <p class="text-md">Este horario contempla el personal adaptado al horario teórico.</p>
      </div>
    {% else %}
      <div>
        <h1 class="text-lg font-bold">Horario Teórico</h1>
        <p class="text-md">Este horario contempla la cantidad de personas que pueden asistir durante la semana (Predicción)</p>
      </div>
      <div id="horarioTabla2" class="w-full"></div>
      <div>
        <h1 class="text-lg font-bold">Horario adaptado al personal</h1>
        <p class="text-md">Este horario contempla el personal adaptado al horario teórico.</p>
      </div>
    {% endif %}
  {% endif %}
  <div id="horarioTabla" class="w-full"></div>
</div>

{% if key != 'dashboard' %}
  <div class="container items-center px-2 mt-4">
    <h1 class="text-lg font-bold">Configure su personal</h1>
    <p class="text-md">Puede editar su horario antes de enviarlo a revisión</p>
    <p class="text-md">
      Hora de apertura: <strong>{{ min_hour }} AM</strong> - Hora de cierre <strong>{{ max_hour }} PM</strong>
    </p>
  </div>
{% endif %}

<div class="px-1 mt-3 mb-2 overflow-y-auto md:overflow-x-hidden shadow-sm">
  <div role="tablist" class="tabs tabs-lifted">
    {% if key != 'dashboard' %}
      {% for day in calendar %}
        {% if forloop.counter0 < 1 %}
          <input id="{{ day.nombre_dia }}_{{ day.numero_dia }}" type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="{{ day.nombre_dia }}" checked />
          <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            {% if day.personal_incluido %}
              {% include 'components/schedule/schedule_generate_list.html' %}
            {% else %}
              <h2>No hay registros</h2>
            {% endif %}
          </div>
        {% else %}
          <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="{{ day.nombre_dia }}" />
          <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            {% if day.personal_incluido %}
              {% include 'components/schedule/schedule_generate_list.html' %}
            {% else %}
              <h2>No hay registros</h2>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for day in calendar %}
        {% if forloop.counter0 < 1 %}
          <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="{{ day.nombre_dia }}" checked />
          <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            {% if day.personal_incluido %}
              {% include 'components/schedule/schedule_view_list.html' %}
            {% else %}
              <h2>No hay registros</h2>
            {% endif %}
          </div>
        {% else %}
          <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="{{ day.nombre_dia }}" />
          <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            {% if day.personal_incluido %}
              {% include 'components/schedule/schedule_view_list.html' %}
            {% else %}
              <h2>No hay registros</h2>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
<div id="alert_save" class="px-2">
  <div role="alert" class="alert alert-warning">
    <i class="fas fa-exclamation-triangle"></i>
    <span>Debe guardar el día antes de enviar la aprobación</span>
  </div>
</div>

<script>
  $(document).ready(function () {
    //hides
    $('.save_day').hide()
    $('.bottom_button_save').hide()
    $('#alert_save').hide()
  
    const key = `{{key|safe}}`
    const subkey = `{{subkey|safe}}`
  
    var rows = {}
    var horas = {}
    var dias = []
  
    // Obtener variables
    rows = JSON.parse(`{{personas}}`)
    horas = JSON.parse(`{{horas}}`)
    const diasLimpio = `{{dias|safe}}`.slice(1, -1)
    dias = diasLimpio.split(',').map((item) => item.trim())
    dias = dias.map((item) => item.replace(/'/g, ''))
  
    startCalendar(rows, horas, dias, '#horarioTabla')
  
    if (key != 'dashboard' && subkey != 'editing') {
      var rows2 = {}
      var horas2 = {}
      var dias2 = []
  
      rows2 = JSON.parse(`{{personas2}}`)
      horas2 = JSON.parse(`{{horas2}}`)
      const diasLimpio2 = `{{dias2|safe}}`.slice(1, -1)
      dias2 = diasLimpio2.split(',').map((item) => item.trim())
      dias2 = dias2.map((item) => item.replace(/'/g, ''))
  
      startCalendar(rows2, horas2, dias2, '#horarioTabla2')
    }
  
    function startCalendar(rows, horas, dias, htmlid) {
      //diseños
      const standard = ' border border-primary w-auto px-4 py-2 font-bold text-lg'
  
      const red = 'bg-red-500 text-white' + standard
      const yellow = 'bg-yellow-400 text-white' + standard
      const orange = 'bg-amber-500 text-white' + standard
      const green = 'bg-emerald-500 text-white' + standard
      const neutral = 'bg-white' + standard
  
      // Crear la tabla
      const tabla = $('<table>').addClass('table table-pin-rows')
      const encabezadothead = $('<thead>').addClass('head')
      const cuerpotbody = $('<tbody>').addClass('place-items-center')
      const encabezado = $('<tr>').addClass('bg-gray-200')
      encabezado.append($('<th>').text('Horas').addClass('px-4 py-2 font-bold bg-primary text-white uppercase text-md'))
      for (const dia of dias) {
        encabezado.append($('<th>').text(dia).addClass('px-4 py-2 font-bold bg-primary text-white uppercase text-md'))
      }
      encabezadothead.append(encabezado)
      tabla.append(encabezadothead)
  
      let rowspanTracker = Array(dias.length).fill(0)
      let lastValueTracker = Array(dias.length).fill(null)
      let lastCellTracker = Array(dias.length).fill(null)
  
      // Creación de filas y celdas
      for (let i = 0; i < horas.length; i++) {
        const fila = $('<tr>')
        fila.append($('<td>').text(horas[i]).addClass('bg-secondary px-4 py-2 text-white font-bold text-sm'))
  
        for (let j = 0; j < dias.length; j++) {
          const valor = rows[i][j]
          let claseCSS = ''
  
          switch (true) {
            case valor > 11:
              claseCSS = red
              break
            case valor > 8:
              claseCSS = orange
              break
            case valor > 5:
              claseCSS = yellow
              break
            case valor > 0:
              claseCSS = green
              break
            default:
              claseCSS = neutral
          }
  
          if (i === 0 || rows[i][j] !== lastValueTracker[j]) {
            // Si es la primera fila o el valor cambió, reiniciar el contador de rowspan
            if (rowspanTracker[j] > 0) {
              lastCellTracker[j].attr('rowspan', rowspanTracker[j])
            }
            rowspanTracker[j] = 1
            lastValueTracker[j] = rows[i][j]
  
            // Crear nueva celda
            const celda = $('<td>')
              .addClass(claseCSS)
              .text(valor > 0 ? valor : '-')
              .attr('data-valor', valor)
            fila.append(celda)
  
            // Actualizar la última celda
            lastCellTracker[j] = celda
          } else {
            // Incrementar rowspan para celdas anteriores iguales
            rowspanTracker[j]++
          }
        }
        cuerpotbody.append(fila)
      }
  
      // Asegurarse de establecer los rowspans finales
      for (let j = 0; j < dias.length; j++) {
        if (rowspanTracker[j] > 0) {
          lastCellTracker[j].attr('rowspan', rowspanTracker[j])
        }
      }
  
      // Agregar cuerpo y cabeza a la tabla
      tabla.append(encabezadothead).append(cuerpotbody)
  
      // Agregar la tabla al contenedor
      $(htmlid).append(tabla)
    }
  
    function reStartCalendar(rows, horas, dias) {
      $('#horarioTabla').empty()
  
      const standard = ' border border-primary w-auto px-4 py-2 font-bold text-lg'
      //diseños
      const red = 'bg-red-500 text-white' + standard
      const yellow = 'bg-yellow-400 text-white' + standard
      const orange = 'bg-amber-500 text-white' + standard
      const green = 'bg-emerald-500 text-white' + standard
      const neutral = 'bg-white' + standard
  
      // Crear la tabla
      const tabla = $('<table>').addClass('table table-pin-rows')
      const encabezadothead = $('<thead>').addClass('head')
      const cuerpotbody = $('<tbody>').addClass('place-items-center')
      const encabezado = $('<tr>').addClass('bg-gray-200')
      encabezado.append($('<th>').text('Horas').addClass('px-4 py-2 font-bold bg-primary text-white uppercase text-md'))
      for (const dia of dias) {
        encabezado.append($('<th>').text(dia).addClass('px-4 py-2 font-bold bg-primary text-white uppercase text-md'))
      }
      encabezadothead.append(encabezado)
      tabla.append(encabezadothead)
  
      let rowspanTracker = Array(dias.length).fill(0)
      let lastValueTracker = Array(dias.length).fill(null)
      let lastCellTracker = Array(dias.length).fill(null)
  
      // Creación de filas y celdas
      for (let i = 0; i < horas.length; i++) {
        const fila = $('<tr>')
        fila.append($('<td>').text(horas[i]).addClass('bg-secondary px-4 py-2 text-white font-bold text-sm'))
  
        for (let j = 0; j < dias.length; j++) {
          const valor = rows[i][j]
          let claseCSS = ''
  
          switch (true) {
            case valor > 11:
              claseCSS = red
              break
            case valor > 8:
              claseCSS = orange
              break
            case valor > 5:
              claseCSS = yellow
              break
            case valor > 0:
              claseCSS = green
              break
            default:
              claseCSS = neutral
          }
  
          if (i === 0 || rows[i][j] !== lastValueTracker[j]) {
            // Si es la primera fila o el valor cambió, reiniciar el contador de rowspan
            if (rowspanTracker[j] > 0) {
              lastCellTracker[j].attr('rowspan', rowspanTracker[j])
            }
            rowspanTracker[j] = 1
            lastValueTracker[j] = rows[i][j]
  
            // Crear nueva celda
            const celda = $('<td>')
              .addClass(claseCSS)
              .text(valor > 0 ? valor : '-')
              .attr('data-valor', valor)
            fila.append(celda)
  
            // Actualizar la última celda
            lastCellTracker[j] = celda
          } else {
            // Incrementar rowspan para celdas anteriores iguales
            rowspanTracker[j]++
          }
        }
        cuerpotbody.append(fila)
      }
  
      // Asegurarse de establecer los rowspans finales
      for (let j = 0; j < dias.length; j++) {
        if (rowspanTracker[j] > 0) {
          lastCellTracker[j].attr('rowspan', rowspanTracker[j])
        }
      }
  
      // Agregar cuerpo y cabeza a la tabla
      tabla.append(encabezadothead).append(cuerpotbody)
  
      // Agregar la tabla al contenedor
      $('#horarioTabla').append(tabla)
    }
  
    // Función para habilitar los inputs
    function enableInputs() {
      $('td input').prop('disabled', false)
      $('td .btn-success').prop('disabled', false)
      $('td .btn-error').prop('disabled', false)
      $('.bottom_button_save').show()
      $('#alert_save').show()
      $('.tab').prop('disabled', true)
      $('.editing_badge').text('Sin guardar').removeClass('badge-success').addClass('badge-primary')
      $('.edit_day').hide() // Ocultar el botón "Editar Día"
      $('.save_day').show() // Mostrar el botón "Guardar Día"
      $('#save_n_approve').prop('disabled', true)
      $('#save_n_approve_2').prop('disabled', true)
    }
  
    // Función para deshabilitar los inputs
    function disableInputs() {
      let error = false
      let min_value = `{{min_hour}}`
      let max_value = `{{max_hour}}`
      let calendar = get_schedule_json()
  
      calendar.forEach((day) => {
        day.personal_incluido.forEach((persona) => {
          const horaInicio = persona.hora_inicio
          const horaFin = persona.hora_fin
          const minHora = parseInt(min_value)
          const maxHora = parseInt(max_value)
          if (horaInicio >= horaFin) {
            error = true
            return
          }
  
          if (horaFin <= horaInicio) {
            error = true
            return
          }
  
          if (horaInicio < minHora || horaFin > maxHora) {
            error = true
            return
          }
  
          if (error) return
        })
      })
  
      if (error) {
        return { value: error, message: 'Existe un error en las horas, recuerde no pasar la hora de apertura y cierre del local' }
      }
  
      $('td input').prop('disabled', true)
      $('td .btn-success').prop('disabled', true)
      $('td .btn-error').prop('disabled', true)
      $('.bottom_button_save').hide()
      $('#alert_save').hide()
  
      $('.tab').prop('disabled', false)
  
      $('.editing_badge').text('Guardado').removeClass('badge-primary').addClass('badge-success')
      $('.save_day').hide()
      $('.edit_day').show()
  
      //axios
      let send_url = "{% url 'dashboard:get_staff_matrix' %}"
      let send_data = JSON.stringify({
        schedule: calendar
      })
  
      // console.log(send_data)
      $.ajax({
        url: send_url,
        method: 'POST',
        data: send_data,
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function (data) {
          rows = data.staff
          horas = data.horas
          dias = dias
          reStartCalendar(rows, horas, dias)
        }
      })
  
      $('#save_n_approve').prop('disabled', false)
      $('#save_n_approve_2').prop('disabled', false)
      return { value: error, message: 'Día guardado exitosamente' }
    }
  
    function save_to_db_2() {
      Swal.fire({
        title: '¿Estás seguro?',
        html: '<p style="color: #555;">Una vez confirmado el horario será enviado a aprobación</p>',
        icon: 'warning',
        iconColor: 'skyblue',
        showCancelButton: true,
        confirmButtonColor: '#004A98',
        cancelButtonColor: '#004A71',
        confirmButtonText: 'Sí, Enviar a aprovación',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          let send_url = "{% url 'dashboard:save_schedule_2' %}"
          let send_data = JSON.stringify({
            calendar: [get_schedule_json()],
            sid: '{{schedule_id}}',
            version: '{{max_version}}'
          })
  
          $.ajax({
            url: send_url,
            method: 'POST',
            data: send_data,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
              window.location.href = "{% url 'dashboard:schedule_view' pk=schedule_id %}"
            }
          })
        }
      })
    }
  
    function save_to_db() {
      Swal.fire({
        title: '¿Estás seguro?',
        html: '<p style="color: #555;">Una vez confirmado el horario será enviado a aprobación</p>',
        icon: 'warning',
        iconColor: 'skyblue',
        showCancelButton: true,
        confirmButtonColor: '#004A98',
        cancelButtonColor: '#004A71',
        confirmButtonText: 'Sí, Enviar a aprovación',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          //Send to path
          let send_url = "{% url 'dashboard:save_and_send_schedule' %}"
          let teorical = JSON.parse(`{{calendar_2|safe}}`.replace(/'/g, '"'))
          let staff = JSON.parse(`{{calendar|safe}}`.replace(/'/g, '"'))
          let edited_schedule = get_schedule_json()
          let calendar_results = []
  
          //Compare
          json1 = JSON.stringify(staff)
          json2 = JSON.stringify(edited_schedule)
  
          if (json1 === json2) {
            calendar_results = [teorical, staff]
          } else {
            calendar_results = [teorical, staff, edited_schedule]
          }
  
          console.log(calendar_results)
  
          let send_data = JSON.stringify({
            rows: rows,
            hours: horas,
            days: dias,
            calendar: calendar_results,
            country_id: '{{country_id}}',
            store_id: '{{store_id}}',
            brand_id: '{{ brand_id }}',
            start_date: `{{ start_date|date:"d/m/Y" }}`,
            end_date: `{{ end_date|date:"d/m/Y" }}`,
            schedule_name: '{{ schedule_name }}'
          })
  
          console.log(send_data)
  
          $.ajax({
            url: send_url,
            method: 'POST',
            data: send_data,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
              window.location.href = "{% url 'dashboard:schedule' %}"
            }
          })
        }
      })
    }
  
    function get_schedule_json() {
      // Definimos la lista donde guardaremos la información del horario
      var horario_test = []
  
      // Recorremos cada pestaña dentro del contenedor de tabs
      $('.tabs-lifted > input[type="radio"]').each(function (index) {
        // Obtenemos el nombre del día y su número
        let nombre_dia = $(this).attr('aria-label')
        let numero_dia = index + 1
  
        // Inicializamos la lista de personal para este día
        let personal_incluido = []
        let personal_excluido = []
  
        // Recorremos cada fila de la tabla dentro del panel correspondiente
        $(this)
          .next('.tab-content')
          .find('.schedule_staff tr')
          .each(function () {
            // Obtenemos la información de cada fila
            let nombre = $(this).find('td:nth-child(2)').text().trim()
            let id = $(this).find('td:nth-child(1)').text().trim()
            var contract = $(this).find('td:nth-child(3)').text().trim()
            let hora_inicio = parseInt($(this).find('td:nth-child(4) input').val())
            let hora_fin = parseInt($(this).find('td:nth-child(5) input').val())
  
            // Creamos el objeto de personal y lo añadimos a la lista
            let persona = {
              nombre: nombre,
              contract_type: contract,
              id: id,
              hora_inicio: hora_inicio,
              hora_fin: hora_fin
            }
            personal_incluido.push(persona)
          })
  
        $(this)
          .next('.tab-content')
          .find('.schedule_excluded tr')
          .each(function () {
            // Obtenemos la información de cada fila
            let nombre = $(this).find('td:nth-child(2)').text().trim()
            var contract = $(this).find('td:nth-child(3)').text().trim()
            let id = $(this).find('td:nth-child(1)').text().trim()
            let reason = $(this).find('td:nth-child(4)').text().trim()
            let comment = $(this).find('td:nth-child(5)').text().trim()
  
            switch (reason.toLowerCase()) {
              case 'ausente':
                reason = 'ABSENSE'
                break
              case 'vacaciones':
                reason = 'VACATIONS'
                break
              case 'emergencia':
                reason = 'EMERGENCY'
                break
              case 'día libre':
                reason = 'DAYFREE'
                break
              default:
                break
            }
  
            // Creamos el objeto de personal y lo añadimos a la lista
            let persona = {
              nombre: nombre,
              contract_type: contract,
              id: id,
              reason: reason,
              comment: comment
            }
            personal_excluido.push(persona)
          })
  
        // Creamos el objeto de día y lo añadimos a la lista de horario_test
        let dia = {
          nombre_dia: nombre_dia,
          numero_dia: numero_dia,
          personal_incluido: personal_incluido,
          personal_excluido: personal_excluido
        }
        horario_test.push(dia)
      })
  
      return horario_test
    }
  
    $('#save_n_approve').click(function (event) {
      save_to_db()
    })
  
    $('#save_n_approve_2').click(function (event) {
      save_to_db_2()
    })
  
    // Al hacer clic en "Editar Día", habilitar los inputs
    $('.edit_day').click(function () {
      enableInputs()
    })
  
    // Al hacer clic en "Guardar Día", deshabilitar los inputs
    $('.save_day').click(function () {
      returned = disableInputs()
      const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.onmouseenter = Swal.stopTimer
          toast.onmouseleave = Swal.resumeTimer
        }
      })
      Toast.fire({
        icon: returned.value ? 'error' : 'success',
        title: returned.message
      })
    })
  
    // Mover usuario de la tabla izquierda a la tabla derecha
    $('.table_left').on('click', '.btn-error', function () {
      event.preventDefault()
      Swal.fire({
        title: 'Actualizar Personal',
        html: `
                <p style="margin-bottom: 13px">Indíque por que el usuario no se encontrará dentro del horario</p>
                <label for="estado" style="display: block; margin-bottom: 8px; margin-top:8px;" class="mb-2 text-md" align="left">Razón de la ausencia</label>
                <select id="estado" name="estado" class="select select-sm select-bordered w-full">
                <option value="ABSENSE">Falta Semanal</option>
                <option value="VACATIONS">Vacaciones</option>
                <option value="EMERGENCY">Emergencia de Personal Semanal</option>
                <option value="DAYFREE">Libre</option>
                </select>
                <label for="comentario" style="display: block; margin-bottom: 8px;" class="mb-2 mt-3 text-md" align="left">Comentario</label>
                <input id="comentario" class="input input-bordered w-full input-sm" name="comentario" type="text" placeholder="Ingrese un comentario referente a la exclusión"></input>
                        `,
        showCancelButton: true,
        confirmButtonColor: '#004A98',
        cancelButtonColor: '#004A71',
        confirmButtonText: 'Actualizar',
        cancelButtonText: 'Cancelar',
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          const estado = document.getElementById('estado').value
          const comentario = document.getElementById('comentario').value
          try {
            if (estado == '' || comentario == '') {
              throw new Error('Complete todos los campos')
            }
            return { estado, comentario }
          } catch (error) {
            Swal.showValidationMessage(`${error}`)
          }
        },
        allowOutsideClick: () => !Swal.isLoading()
      }).then((result) => {
        if (result.isConfirmed) {
          var newTdHtml = ''
          switch (result.value.estado) {
            case 'ABSENSE':
              newTdHtml = '<div class="badge badge-warning badge-outline badge-md uppercase">ausente</div>'
              break
            case 'VACATIONS':
              newTdHtml = '<div class="badge badge-primary badge-outline badge-md uppercase">vacaciones</div>'
              break
            case 'EMERGENCY':
              newTdHtml = '<div class="badge badge-error badge-outline badge-md uppercase">emergencia</div>'
              break
            case 'DAYFREE':
              newTdHtml = '<div class="badge badge-info badge-outline badge-md uppercase">día libre</div>'
              break
            default:
              break
          }
  
          var row = $(this).closest('tr').clone()
          // Obtener el conjunto de clases del elemento siguiente al botón .btn-success
          let nextClasses = row.find('.btn-error').attr('class').split(' ')
          let tabis = nextClasses[nextClasses.length - 1]
  
          row.find('.input').closest('td').remove()
  
          row.find('.btn-error').removeClass('btn-error').removeClass(tabis).addClass('btn-success').addClass(tabis).html('<i class="fas fa-plus-circle"></i>')
          var newTd = $('<td>').html(newTdHtml)
          var secondTd = $('<td class="uppercase">').html('<div class="comment max-w-sm overflow-x-auto">' + result.value.comentario + '</div>')
          row.find('.btn-success').closest('td').before(newTd, secondTd)
          $(this).closest('tr').remove()
  
          $('.table_right.' + tabis).append(row)
        }
      })
    })
  
    // Mover usuario de la tabla derecha a la tabla izquierda
    $('.table_right').on('click', '.btn-success', function () {
      let row = $(this).closest('tr').clone()
      // Obtener el conjunto de clases del elemento siguiente al botón .btn-success
      let nextClasses = row.find('.btn-success').attr('class').split(' ')
      let tabis = nextClasses[nextClasses.length - 1]
  
      row.find('.btn-success').removeClass('btn-success').removeClass(tabis).addClass('btn-error').addClass(tabis).html('<i class="fas fa-minus-circle"></i>')
  
      // Eliminar toda la columna (td) que contiene el badge original
      row.find('.badge').closest('td').remove()
      row.find('.comment').closest('td').remove()
  
      var firstTd = $('<td>').addClass('uppercase').html(`<div class="grid grid-cols-2 items-center gap-1">
                                                                        <input class="input input-sm input-bordered" type="number" value="{{ min_hour }}" min="{{ min_hour }}" />
                                                                        <p>AM</p>
                                                                      </div>`)
      var secondTd = $('<td>').addClass('uppercase').html(`<div class="grid grid-cols-2 items-center gap-1">
                                                                        <input class="input input-sm input-bordered" type="number" value="{{ max_hour }}" max="{{ max_hour }}" />
                                                                        <p>PM</p>
                                                                      </div>`)
  
      // Obtener el td que contiene el botón con el ícono de menos
      row.find('.btn-error').closest('td').before(firstTd, secondTd)
  
      $(this).closest('tr').remove()
      $('.table_left.' + tabis)
        .find('tbody')
        .append(row)
    })
  })
</script>
