{% include 'components/filters/ui_filters/user_ui_filters.html' %}
{% load static %}

<div class="overflow-x-auto rounded-md shadow-md">
  <table class="table table-zebra">
    
    <thead class="bg-primary text-white uppercase">
      <tr>
        {% for field in fields|slice:'1:' %}
          <th>{{ field.verbose_name }}</th>
        {% endfor %}
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterar sobre los objetos -->
      {% for obj_data in object_data %}
        <tr class="hover">
          {% for value in obj_data|slice:'1:' %}
            <!-- Aquí se salta el primer elemento -->

            {% if forloop.counter0 == 0 %}
              <td class="uppercase font-bold">
                {{ value|date:'d/m/Y' }} <!-- Formatear como dd/mm/aaaa -->
              </td>
              {% elif activos and forloop.counter0 == 3 %}
              {% if value %}
              <td class="uppercase"><div class="badge badge-primary">Activo</div></td>
              {% else %}
              <td class="uppercase"><div class="badge badge-secondary">Inactivo</div></td>
              {% endif %}

            {% elif nombre == 'Productos' and forloop.counter0 == 4 %}
                <td class="uppercase">
                  <img class="w-14 h-12 object-cover" src="{% static value %}" alt="Product Image">
                </td>
            {% else %}
              <td class="uppercase">{{ value }}</td>
            {% endif %}
          {% endfor %}
          <td>
            <div class="flex justify-start gap-1">
              <a href="{% url edit_url pk=obj_data.0 %}" class="btn btn-primary btn-xs btn-outline"><i class="fas fa-pencil-alt"></i></a>
              <button onclick="confirmDelete('{{ obj_data.0 }}')" class="btn btn-error btn-xs btn-outline"><i class="fas fa-trash-alt"></i></button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <!-- foot -->
    <tfoot class="bg-secondary text-white uppercase">
      <tr>
        {% for field in fields|slice:'1:' %}
          <th>{{ field.verbose_name }}</th>
        {% endfor %}
        <th>Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

{% include 'components/paginator.html' %}
{% include 'components/swal_delete.html' %}
