<div class="mx-2 mb-6 mt-2">
  <h2 class="text-lg font-bold">Stats semanales</h2>
  <div class="stats stats-vertical md:stats-horizontal shadow mt-2 w-full">
    <div class="stat">
      <div class="stat-figure text-secondary">
        <i class="far fa-calendar-check"></i>
      </div>
      <div class="stat-title">Hoy es</div>
      <div id="dayOfWeek" class="stat-value text-primary">DiaK</div>
      <div id="progressDesc" class="stat-desc">Progreso</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <i class="fas fa-dumbbell"></i>
      </div>
      <div class="stat-title">El día más fuerte es</div>
      <div id="redDay" class="stat-value text-secondary">{{ dia_pesado }}</div>
      <div class="stat-desc text-warning">Precaución</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <i class="fas fa-chart-line"></i>
      </div>
      <div id="progressFull" class="stat-value">86%</div>
      <div class="stat-title">Semana completada</div>
      <div class="stat-desc text-secondary">Falta poco</div>
    </div>
  </div>
  <script>
    const dayOfWeek = new Date().getDay()
    const dayOfWeekElement = document.getElementById('dayOfWeek')
    const progressDesc = document.getElementById('progressDesc')
    const progressFull = document.getElementById('progressFull')
    const daysOfWeekNames = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']
    
    let progress = 0
    switch (dayOfWeek) {
      case 1: // Lunes
        progress = 10
        break
      case 2: // Martes
        progress = 25
        break
      case 3: // Miércoles
        progress = 40
        break
      case 4: // Jueves
        progress = 55
        break
      case 5: // Viernes
        progress = 70
        break
      case 6: // Sábado
        progress = 85
        break
      case 7: // Domingo
        progress = 100
        break
      default:
        progress = 0
    }
    
    // progressBar.value = progress
    dayOfWeekElement.textContent = daysOfWeekNames[dayOfWeek]
    progressDesc.textContent = progress + '% de la semana completado'
    progressFull.textContent = progress + '%'
  </script>
</div>
