{% extends 'layout/dashboard_layout.html' %}

{% block content %}
  <div class="card bg-base-100 shadow-md flex justify-center items-center">
    <form class="w-full card-body" action="{% url 'dashboard:clients_upload_general' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if error %}
        <div role="alert" class="alert alert-error">
          <i class="fas fa-exclamation-circle"></i>
          <span>Existe un error, revíse el formulario y vuelva a enviar.</span>
        </div>
      {% endif %}
      <div class="grid grid-cols-1 gap-3 justify-items-start items-center">
        <div role="alert" class="alert flex justify-between">
          <span>Descargue la plantilla y actualice sus items masivamente.</span>
          <div>
            <a href="?download=true" class="btn btn-sm btn-primary"><i class="fas fa-file-excel"></i>Descargar Plantilla</a>
          </div>
        </div>
        <!-- Botón para subir archivo Excel -->
        <input type="file" name="file" class="file-input file-input-bordered file-input-primary w-full" />
      </div>

      <div class="flex gap-4">
        <div class="w-full">
          <button type="submit" class="btn btn-primary mt-4 btn-block"><i class="fas fa-upload"></i>Procesar Archivo</button>
        </div>
        <div class="w-16">
          <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary mt-4"><i class="fas fa-arrow-left"></i></a>
        </div>
      </div>
    </form>
  </div>
  <script>
    $(document).ready(function () {
      $('form').on('submit', function (e) {
        e.preventDefault() // Detener el envío inicial del formulario
    
        Swal.fire({
          title: '¿Está seguro?',
          text: '¡No podrás revertir esto!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#5f3ea8',
          cancelButtonColor: '#e39424',
          confirmButtonText: 'Sí, subir ahora!'
        }).then((result) => {
          if (result.isConfirmed) {
            this.submit()
          }
        })
      })
    })
  </script>
{% endblock %}
