{% load static %}

<!-- drawer component -->
<div class="relative hidden md:block w-64 md:w-72 lg:w-72 h-screen p-4 overflow-y-auto transition-transform bg-primary shadow">
  <div class="mt-2 flex justify-center">
      {% comment %} <img class="ml-4 mt-4 -mb-4" width="50%" src="https://tadadelivery.com/_next/image?url=%2Fimages%2Fagegate%2Ftada.png&w=384&q=75" alt="Tada" /> {% endcomment %}
      {% comment %} <img style="width: 80%; height: 70%;" src="{% static 'img/logo_blanco.png' %}" alt="Ar holdings" /> {% endcomment %}
       <h2 class="font-bold text-2xl text-white mt-2">APP</h2>
  </div>
  <div class="py-4 overflow-y-aut mt-4">
    <ul class="menu menu-lg menu-vertical p-0 text-white text-lg [&_li>*]:rounded-md [&_details>*]:rounded-md">
      {% for section in drawer %}
        <div class="divider divider-accent text-md">{{ section.section }}</div>
        {% for item in section.childs %}
          <li class="mt-1">
            {% if item.children %}
            <details {% if item.active %}open{% endif %}>
              <summary class="{% if item.active %}text-primary bg-base-100 hover:text-primary hover:bg-base-100{% else %}hover:bg-base-100 hover:text-primary{% endif %}">
                <i class="{{ item.icon }}"></i> <span class="ms-3">{{ item.name }}</span>
              </summary>
              <ul>
                {% for child in item.children %}
                <li class="mt-1">
                  <a href="{% if child.href %}{{ child.href }}{% endif %}" class="{% if child.active %}text-primary bg-base-100 hover:text-primary hover:bg-base-100{% else %}hover:bg-base-100 hover:text-primary{% endif %}">
                    <i class="{{ child.icon }}"></i>
                    <span class="ms-3">{{ child.name }}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </details>
            {% else %}
            <a href="{{ item.href }}" class="{% if item.active %}text-primary bg-base-100 hover:text-primary hover:bg-base-100 active:text-primary active:bg-base-100{% else %}hover:bg-base-100 hover:text-primary{% endif %}">
              <i class="{{ item.icon }}"></i>
              <span class="ms-3">{{ item.name }}</span>
            </a>
            {% endif %}
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
