<div class="card bg-base-100 shadow-xl w-full rounded-md mt-4">
  <div class="card-body p-6 flex justify-end">
    <h2 class="card-title text-lg font-bold text-primary mb-1 uppercase">Horarios Asignados</h2>
    <div class="overflow-x-auto rounded-md shadow-md">
      <table class="table table-zebra">
        <!-- head -->
        <thead class="bg-primary text-white uppercase">
          <tr>
            <th>Fecha De Creación</th>
            <th>Creador del Horario</th>
            <th>Tienda</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover">
            <td class="uppercase font-bold">12/12/1999 15:00</td>
            <td class="uppercase">Entrada</td>
            <td class="uppercase">Forever 21 GYE</td>
            <td>
              <div class="flex justify-start gap-1">
                <a href="#" class="btn btn-primary btn-xs btn-outline"><i class="far fa-eye"></i></a>
              </div>
            </td>
          </tr>
          <tr class="hover">
            <td class="uppercase font-bold">12/12/1999 15:00</td>
            <td class="uppercase">Entrada</td>
            <td class="uppercase">Forever 21 GYE</td>
            <td>
              <div class="flex justify-start gap-1">
                <a href="#" class="btn btn-primary btn-xs btn-outline"><i class="far fa-eye"></i></a>
              </div>
            </td>
          </tr>
          <tr class="hover">
            <td class="uppercase font-bold">12/12/1999 15:00</td>
            <td class="uppercase">Entrada</td>
            <td class="uppercase">Forever 21 GYE</td>
            <td>
              <div class="flex justify-start gap-1">
                <a href="#" class="btn btn-primary btn-xs btn-outline"><i class="far fa-eye"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- foot -->
        <tfoot class="bg-secondary text-white uppercase">
          <tr>
            <th>Fecha y Hora</th>
            <th>Tipo de Marca</th>
            <th>Tienda</th>
            <th>Acciones</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
