<div class="col-span-1 card bg-base-100 shadow-xl w-full rounded-md">
  <div class="card-body p-6 flex justify-start">
    <h2 class="card-title text-lg font-bold text-primary mb-1 uppercase">Últimas Acciones</h2>
    <div class="-ml-56 py-2 h-auto overflow-y-auto">
      <ul class="timeline timeline-vertical">
        <li>
          <div class="timeline-middle text-secondary">
            <i class="fas fa-circle"></i>
          </div>
          <div class="timeline-end timeline-box">First Macintosh computer</div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-middle text-secondary">
            <i class="fas fa-circle"></i>
          </div>
          <div class="timeline-end timeline-box">iMac</div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-middle text-secondary">
            <i class="fas fa-circle"></i>
          </div>
          <div class="timeline-end timeline-box">iPod</div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-middle text-secondary">
            <i class="fas fa-circle"></i>
          </div>
          <div class="timeline-end timeline-box">iPhone</div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-middle text-secondary">
            <i class="fas fa-circle"></i>
          </div>
          <div class="timeline-end timeline-box">Apple Watch</div>
        </li>
      </ul>
    </div>
  </div>
</div>
