<div class="card bg-base-100 shadow-xl w-full rounded-md mt-4">
  <div class="card-body p-6 flex justify-end">
    <h2 class="card-title text-lg font-bold text-primary mb-1 uppercase">Marcas en Biotime Recientes</h2>
    <div class="overflow-x-auto rounded-md shadow-md">
      <table class="table table-zebra">
        <!-- head -->
        <thead class="bg-primary text-white uppercase">
          <tr>
            <th>Fecha y Hora</th>
            <th>Tipo de Marca</th>
            <th>Tienda</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover">
            <td class="uppercase font-bold text-success">12/12/1999 15:00</td>
            <td class="uppercase">Entrada</td>
            <td class="uppercase">Forever 21 GYE</td>
          </tr>
          <tr class="hover">
            <td class="uppercase font-bold text-error">12/12/1999 15:00</td>
            <td class="uppercase">Salida</td>
            <td class="uppercase">Forever 21 GYE</td>
          </tr>
          <tr class="hover">
            <td class="uppercase font-bold text-success">12/12/1999 15:00</td>
            <td class="uppercase">Entrada</td>
            <td class="uppercase">Forever 21 GYE</td>
          </tr>
          <tr class="hover">
            <td class="uppercase font-bold text-error">12/12/1999 15:00</td>
            <td class="uppercase">Salida</td>
            <td class="uppercase">Forever 21 GYE</td>
          </tr>
        </tbody>
        <!-- foot -->
        <tfoot class="bg-secondary text-white uppercase">
          <tr>
            <th>Fecha y Hora</th>
            <th>Tipo de Marca</th>
            <th>Tienda</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
