{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/tada-icon-white.png' %}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>
      {% block head_title %}
        Club Tada
      {% endblock %}
    </title>
    {% include 'core/css.html' %}
  </head>
  <body class="font-sans bg-gray-100">
    <div class="flex-1 h-screen flex flex-col overflow-hidden">
      {% include 'components/store_header.html' %}

      <!-- Main Content Area with dynamic width -->
      <div class="flex-1 overflow-y-auto transition-all duration-300 ease-in-out" id="mainContent">
        {% block content %}

        {% endblock %}
      </div>

      {% include 'components/store_footer.html' %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
