{% extends 'layout/dashboard_layout.html' %}

{% block content %}
  {% include 'components/generic/generic_table_header.html' %}
  {% if nombre == 'Stock' %}
    {% include 'components/stock/stock_action_list.html' %}
  {% elif nombre == 'Picking' %}
    {% include 'components/invoice/invoice_action_list.html' %}
  {% elif nombre == 'Points' %}
    {% include 'components/points/points_action_list.html' %}
  {% elif nombre == 'Órdenes' %}
    {% include 'components/generic/generic_action_list_orders.html' %}
  {% elif nombre == 'Clientes'%}
    {% include 'components/generic/generic_action_list_none.html' %}
  {% else %}
    {% include 'components/generic/generic_action_list.html' %}
  {% endif %}
{% endblock %}
