{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <link rel="icon" type="image/x-icon" href="{% static 'img/tada-icon-white.png' %}" /> {% endcomment %}

    <title>
      {% block head_title %}
        Inicio de Sesión
      {% endblock %}
    </title>
    {% include 'core/css.html' %}
  </head>
  <body class="bg-gradient-to-br from-primary to-secondary flex items-center justify-center h-screen">
    <div class="max-w-lg w-full md:mx-0 mx-6 bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="px-6 py-16">
        <div class="text-center">
          {% comment %} <img src="{% static 'img/tada-color.png' %}" alt="Logo" class="md:w-80 max-w-64 mx-auto mb-4" /> {% endcomment %}
          <h2 class="font-bold text-3xl text-primary mt-2 mb-4">APP</h2>
          <h2 class="text-2xl font-semibold text-secondary">Iniciar Sesión</h2>
        </div>
        <form class="mt-8 space-y-6" action="" method="post">
          {% csrf_token %}
          {% if form.errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">¡Error!</strong>
              <span class="block sm:inline">Hubo un problema con sus credenciales.</span>
            </div>
          {% endif %}
          <div class="grid grid-cols-1 gap-2 justify-items-center">
            <div class="w-full">{{ form.username }}</div>
            <div class="w-full">{{ form.password }}</div>
            <button type="submit" class="btn btn-primary btn-block mt-2">Iniciar Sesión</button>
            {% comment %} <div class="w-full text-center mt-2">
              <a href="{% url 'accounts:password_reset' %}">¿Olvidaste tu contraseña?</a>
            </div> {% endcomment %}
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
