{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.jpeg' %}" />
    <title>
      {% block head_title %}
        Página no permitida | Arh Schedule
      {% endblock %}
    </title>
    {% include 'core/css.html' %}
  </head>
  <body class="bg-gradient-to-br from-primary to-cyan-500 flex items-center justify-center h-screen">
    <div class="max-w-lg w-full md:mx-0 mx-6 bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="px-6 py-16">
        <div class="text-center">
          <img src="{% static 'img/logo_azul.png' %}" alt="Logo" class="md:w-80 max-w-64 mx-auto mb-4" />
          <h2 class="text-2xl font-semibold text-secondary">Página no permitida</h2>
        </div>
        <div class="mt-8 space-y-6">
          <p class="text-center">La página que estás buscando no se encuentra disponible con tus permisos actuales</p>
          <div class="text-center">
            <a href="{% url 'dashboard:index' %}" class="btn btn-primary btn-outline">Ir al Dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
